# Repo pubblico/commerciale di Dunebox: in git solo README + LICENSE.
# Qui vivono le GitHub Releases (i download: pacchetti + zip distribuibile).
# Niente codice, tooling o artefatti di build: il sorgente, lo script di
# pubblicazione e la build stanno nel repo di sviluppo kabirferro/dunebox-dev.
